body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  margin: auto;
  max-width: 800px;
}

p {
  text-align: justify;
}

ul.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

ul.contact > li:not(:last-child) {
  margin-right: 0.5em;
}

img.profile {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #d0d7de;
  box-shadow: rgb(0 0 0 / 7%) 1px 1px 6px 0;
}

figcaption.profile {
  font-size: 10px;
  text-align: right;
}

figure.profile {
  float: right;
  display: inline;
  width: 25%;
  margin: 16px;
}

.card {
  background-color: rgb(246 248 250);
  border: 1px solid #d0d7de;
  box-shadow: #00000012 1px 1px 6px 0;
  border-radius: 3px;
  padding: 1em;
}

.card:not(:last-child) {
  margin-bottom: 1.5rem;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.card h3 a {
  color: inherit;
  text-decoration: none;
}

div.card p:last-child {
  margin-bottom: 0.5em;
}

.metadata {
  font-size: 15px;
}

summary {
  text-align: justify;
}

details {
  margin-top: 0.5em;
}

section.introduction {
  overflow: hidden;
}
